
.icon-allappicon:before { content: '\e81b'; } /* '' */
.icon-camera2:before { content: '\e81c'; } /* '' */
.icon-gallery2:before { content: '\e81d'; } /* '' */
.icon-coin2:before { content: '\e81e'; } /* '' */
.icon-voicesearch:before { content: '\e820'; } /* '' */
.icon-wishlist2:before { content: '\e822'; } /* '' */